<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/bootstrap.css" media="screen">
		<link rel="stylesheet" href="/bootswatch.min.css">

		<title>Popularidad de Nuestros Amigos en Twitter</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
	 			<p><img class="pull-left" src="/bird_icon.png" WIDTH=60 HEIGHT=60 />
	 			<a class="navbar-brand" href="#">Popularidad de Nuestros Amigos en Twitter</a>
	 	</div>
		</nav>


	 	<div class="container">
		<div class="row">
  			<div class="col-md-6">
	 	
		 	<form action="/" method="post" class="form-horizontal well">
			<div class="form-group">
		   		<p><b><h6>Introduzca su nombre en Twitter: </b></h6></p>
				<input type="text"class="form-control" name="firstname"  value="" autofocus>
		   		<p><br><b><h6>¿Cuantos amigos desea ver? </b></h6></p>
			</div>
			
			<div class="form-group">
				</p><input type="text" class="form-control" name="n" value="">
		   		<br><input  type="submit" class="btn btn-primary" value="Enviar" >
			</div>
		 	</form>
			</div>
	 	</div>
		</div>
      </div>
 		
 		<div class="jumbotron">
			<% if @name == ''%>
				<p id="warning"> No se ha introducido usuario o es incorrecto </p>
			<%else%>
        <p> Usuario: <b><i><%= @name %></i></b></p>
			<%end %>

			<% if @name != ''%>
				<%if @number>200%>
					<p id="warning"> Sólo se puede mostrar hasta 200 amigos </p>
				<%elsif @todo_tweet.length <= 0 %>
					<p id="warning">El usuario no existe o no tiene amigos</p>
				<%elsif @todo_tweet.length < @number %>
					<p id="warning">El usuario tiene menos de <%= @number%> amigos</p>
					<ol>
						<% @todo_tweet.each do |i| %> 
							<li id="col"><%= i %><br></li>
						<% end %>
					</ol>
				<%else%>
					<p>Tus amigos y sus seguidores :</p>
					<ol>
						<% @todo_tweet.each do |a,b| %>
							 
							<li id="col" <li class="list-group-item"><b><%= a.to_s %></b>  con <b><%= b.to_s %></b> followers <br></li>
						<% end %>
					</ol>
				<%end%>
			<%end%>
		</div>

		<div class="navbar navbar-inverse navbar-fixed-bottom">
		<a class="navbar-brand" href="http://www.ull.es/view/centros/etsii/Inicio/es">Sistemas y Tecnologias Web 2014-15</a>	
		<a class="navbar-brand pull-right" href="https://github.com/alu0100505023">Javier C. Rodriguez Gomez</a>
	</body>
</html>
